### Installing Necessary Packages

In [2]:
# Installing Pandas, azure-storage-blob, dotenv
%pip install pandas 
%pip azure-storage-blob 
%pip python-dotenv

Requirement already satisfied: pandas in c:\users\adeyinka\appdata\local\programs\python\python313\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\adeyinka\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adeyinka\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adeyinka\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adeyinka\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\adeyinka\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "azure-storage-blob"

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "python-dotenv"

In [3]:
# Importing Libraries
import pandas as pd
from azure.storage.blob import BlobServiceClient
from dotenv import load_dotenv
import os

In [4]:
#Extraction of Data 

try:
  data = pd.read_csv(r'zipco_transaction.csv')
  print("Data Extracted Successfully")
except Exception as e:
  print("Data Extraction Failed")
  print(e)

Data Extracted Successfully

In [5]:
data.head()

,Date,ProductName,Quantity,UnitPrice,StoreLocation,PaymentType,PromotionApplied,Weather,Temperature,StaffPerformanceRating,...,DeliveryTime_min,OrderType,CustomerName,CustomerAddress,Customer_PhoneNumber,CustomerEmail,Staff_Name,Staff_Email,DayOfWeek,TotalSales
0,2023-01-01 00:00:00,Vanilla Cake,2,12.532304,South,Cash,True,Rainy,20.654914,Poor,...,30,In Store,William Adams,"9851 David Green\r\nTonyaburgh, VA 02853",(916)427-7276x861,lisa00@example.net,John Bridges,pdavidson@example.com,Sunday,25.064608
1,2023-01-01 01:00:00,Red Velvet Cake,1,7.083070,South,Cash,False,Rainy,23.549497,Average,...,33,In Store,Anthony Wiggins,"24682 Holly Stravenue\r\nMooreville, NH 13901",769.318.4373,michellefernandez@example.com,Sarah Bentley,ajohnson@example.net,Sunday,7.083070
2,2023-01-01 02:00:00,Chocolate Cake,5,6.736064,North,Cash,True,Rainy,NaN,Excellent,...,43,Phone Order,Ashley Duke,10184 Washington Trace Apt. 679\r\nEast Brandi...,702.520.3286,cooperwilliam@example.com,Connie Cervantes,michele29@example.net,Sunday,33.680321
3,2023-01-01 03:00:00,Carrot Cake,2,7.314823,North,Cash,False,Cloudy,20.137483,Poor,...,32,Online Order,Brandon Taylor,"87194 Jeff Rue\r\nMitchellbury, CA 50463",622-527-9530,fsilva@example.net,Jessica Stewart,xwilson@example.org,Sunday,14.629647
4,2023-01-01 04:00:00,Pizza Pepperoni,1,7.577727,East,Credit Card,True,Cloudy,23.020987,Good,...,58,In Store,Brittany Watkins,"850 Julia Groves\r\nHartview, WI 95954",759-517-8359,petersjoseph@example.net,Cheryl Carpenter,christine96@example.org,Sunday,7.577727

In [6]:
data.columns

Index(['Date', 'ProductName', 'Quantity', 'UnitPrice', 'StoreLocation',
       'PaymentType', 'PromotionApplied', 'Weather', 'Temperature',
       'StaffPerformanceRating', 'CustomerFeedback', 'DeliveryTime_min',
       'OrderType', 'CustomerName', 'CustomerAddress', 'Customer_PhoneNumber',
       'CustomerEmail', 'Staff_Name', 'Staff_Email', 'DayOfWeek',
       'TotalSales'],
      dtype='object')

In [7]:
data.shape

(1005, 21)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1005 non-null   object
 1   ProductName             1005 non-null   object
 2   Quantity                1005 non-null   int64
 3   UnitPrice               1005 non-null   float64
 4   StoreLocation           1005 non-null   object
 5   PaymentType             1005 non-null   object
 6   PromotionApplied        1005 non-null   bool
 7   Weather                 1005 non-null   object
 8   Temperature             904 non-null    float64
 9   StaffPerformanceRating  1005 non-null   object
 10  CustomerFeedback        905 non-null    object
 11  DeliveryTime_min        1005 non-null   int64
 12  OrderType               1005 non-null   object
 13  CustomerName            1005 non-null   object
 14  CustomerAddress         1005 non-null   object
 15  Customer_PhoneNumber    1005 non-null   object
 16  CustomerEmail           904 non-null    object
 17  Staff_Name              1005 non-null   object
 18  Staff_Email             904 non-null    object
 19  DayOfWeek               1005 non-null   object
 20  TotalSales              1005 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 158.1+ KB

### Data Cleaning and Modelling

In [9]:
#Data Cleaning and Transformation

#Removing duplicates
data.drop_duplicates(inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   object
 1   ProductName             1000 non-null   object
 2   Quantity                1000 non-null   int64
 3   UnitPrice               1000 non-null   float64
 4   StoreLocation           1000 non-null   object
 5   PaymentType             1000 non-null   object
 6   PromotionApplied        1000 non-null   bool
 7   Weather                 1000 non-null   object
 8   Temperature             900 non-null    float64
 9   StaffPerformanceRating  1000 non-null   object
 10  CustomerFeedback        900 non-null    object
 11  DeliveryTime_min        1000 non-null   int64
 12  OrderType               1000 non-null   object
 13  CustomerName            1000 non-null   object
 14  CustomerAddress         1000 non-null   object
 15  Customer_PhoneNumber    1000 non-null   object
 16  CustomerEmail           900 non-null    object
 17  Staff_Name              1000 non-null   object
 18  Staff_Email             900 non-null    object
 19  DayOfWeek               1000 non-null   object
 20  TotalSales              1000 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 165.0+ KB

In [11]:
# handling missing values (filling missing numerical values with mean or median)
numerical_columns = data.select_dtypes(include=['float64', 'int64']).columns
for column in numerical_columns:
    data.fillna({column: data[column].mean()}, inplace=True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   object
 1   ProductName             1000 non-null   object
 2   Quantity                1000 non-null   int64
 3   UnitPrice               1000 non-null   float64
 4   StoreLocation           1000 non-null   object
 5   PaymentType             1000 non-null   object
 6   PromotionApplied        1000 non-null   bool
 7   Weather                 1000 non-null   object
 8   Temperature             1000 non-null   float64
 9   StaffPerformanceRating  1000 non-null   object
 10  CustomerFeedback        900 non-null    object
 11  DeliveryTime_min        1000 non-null   int64
 12  OrderType               1000 non-null   object
 13  CustomerName            1000 non-null   object
 14  CustomerAddress         1000 non-null   object
 15  Customer_PhoneNumber    1000 non-null   object
 16  CustomerEmail           900 non-null    object
 17  Staff_Name              1000 non-null   object
 18  Staff_Email             900 non-null    object
 19  DayOfWeek               1000 non-null   object
 20  TotalSales              1000 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 165.0+ KB

In [13]:
# handling missing values (filling missing string values with unknown)
string_columns = data.select_dtypes(include=['object']).columns
for column in string_columns:
    data.fillna({column: 'unknown'}, inplace=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1000 non-null   object
 1   ProductName             1000 non-null   object
 2   Quantity                1000 non-null   int64
 3   UnitPrice               1000 non-null   float64
 4   StoreLocation           1000 non-null   object
 5   PaymentType             1000 non-null   object
 6   PromotionApplied        1000 non-null   bool
 7   Weather                 1000 non-null   object
 8   Temperature             1000 non-null   float64
 9   StaffPerformanceRating  1000 non-null   object
 10  CustomerFeedback        1000 non-null   object
 11  DeliveryTime_min        1000 non-null   int64
 12  OrderType               1000 non-null   object
 13  CustomerName            1000 non-null   object
 14  CustomerAddress         1000 non-null   object
 15  Customer_PhoneNumber    1000 non-null   object
 16  CustomerEmail           1000 non-null   object
 17  Staff_Name              1000 non-null   object
 18  Staff_Email             1000 non-null   object
 19  DayOfWeek               1000 non-null   object
 20  TotalSales              1000 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 165.0+ KB

### Modelling The Data

In [15]:
data.columns

Index(['Date', 'ProductName', 'Quantity', 'UnitPrice', 'StoreLocation',
       'PaymentType', 'PromotionApplied', 'Weather', 'Temperature',
       'StaffPerformanceRating', 'CustomerFeedback', 'DeliveryTime_min',
       'OrderType', 'CustomerName', 'CustomerAddress', 'Customer_PhoneNumber',
       'CustomerEmail', 'Staff_Name', 'Staff_Email', 'DayOfWeek',
       'TotalSales'],
      dtype='object')

In [16]:
#Create the Product Table
products = data[['ProductName']].drop_duplicates().reset_index(drop=True)
products.index.name = 'ProductID'
products = products.reset_index()

products.head(20)

   ProductID               ProductName
0          0              Vanilla Cake
1          1           Red Velvet Cake
2          2            Chocolate Cake
3          3               Carrot Cake
4          4           Pizza Pepperoni
5          5          Pizza Margherita
6          6  Pizza Beef Double decker
7          7                Cheesecake
8          8                Fruit Cake

In [17]:
customers = data[['CustomerName','CustomerAddress', 'Customer_PhoneNumber','CustomerEmail']].drop_duplicates().reset_index(drop=True)
customers.index.name = 'CustomerID'
customers = customers.reset_index()

customers.head()

,CustomerID,CustomerName,CustomerAddress,Customer_PhoneNumber,CustomerEmail
0,0,William Adams,"9851 David Green\r\nTonyaburgh, VA 02853",(916)427-7276x861,lisa00@example.net
1,1,Anthony Wiggins,"24682 Holly Stravenue\r\nMooreville, NH 13901",769.318.4373,michellefernandez@example.com
2,2,Ashley Duke,10184 Washington Trace Apt. 679\r\nEast Brandi...,702.520.3286,cooperwilliam@example.com
3,3,Brandon Taylor,"87194 Jeff Rue\r\nMitchellbury, CA 50463",622-527-9530,fsilva@example.net
4,4,Brittany Watkins,"850 Julia Groves\r\nHartview, WI 95954",759-517-8359,petersjoseph@example.net

In [18]:
#staff table
staff = data[['Staff_Name','Staff_Email',]].drop_duplicates().reset_index(drop=True)
staff.index.name = 'StaffID'
staff = staff.reset_index()

staff.head()

   StaffID        Staff_Name              Staff_Email
0        0      John Bridges    pdavidson@example.com
1        1     Sarah Bentley     ajohnson@example.net
2        2  Connie Cervantes    michele29@example.net
3        3   Jessica Stewart      xwilson@example.org
4        4  Cheryl Carpenter  christine96@example.org

In [19]:
#Create the Transaction Table
transaction = data.merge(products, on='ProductName', how='left') \
                  .merge(customers, on=['CustomerName','CustomerAddress', 'Customer_PhoneNumber','CustomerEmail'], how='left')\
                  .merge(staff, on=['Staff_Name','Staff_Email'], how='left')

transaction.index.name = 'TransactionID'
transaction = transaction.reset_index()[['Date','TransactionID','ProductID','Quantity','UnitPrice','StoreLocation','PaymentType','PromotionApplied',
                            'Weather','Temperature','StaffPerformanceRating','CustomerFeedback','DeliveryTime_min','OrderType','CustomerID','StaffID','DayOfWeek','TotalSales']]



transaction.head()

,Date,TransactionID,ProductID,Quantity,UnitPrice,StoreLocation,PaymentType,PromotionApplied,Weather,Temperature,StaffPerformanceRating,CustomerFeedback,DeliveryTime_min,OrderType,CustomerID,StaffID,DayOfWeek,TotalSales
0,2023-01-01 00:00:00,0,0,2,12.532304,South,Cash,True,Rainy,20.654914,Poor,Neutral,30,In Store,0,0,Sunday,25.064608
1,2023-01-01 01:00:00,1,1,1,7.083070,South,Cash,False,Rainy,23.549497,Average,Positive,33,In Store,1,1,Sunday,7.083070
2,2023-01-01 02:00:00,2,2,5,6.736064,North,Cash,True,Rainy,27.154342,Excellent,unknown,43,Phone Order,2,2,Sunday,33.680321
3,2023-01-01 03:00:00,3,3,2,7.314823,North,Cash,False,Cloudy,20.137483,Poor,Positive,32,Online Order,3,3,Sunday,14.629647
4,2023-01-01 04:00:00,4,4,1,7.577727,East,Credit Card,True,Cloudy,23.020987,Good,Neutral,58,In Store,4,4,Sunday,7.577727

In [20]:
# changing date to datetime format
transaction['Date'] = pd.to_datetime(transaction['Date'])

In [21]:
# save data as csv files
data.to_csv('clean_data.csv', index=False)
products.to_csv('products.csv', index=False)
customers.to_csv('customers.csv', index=False)
staff.to_csv('staff.csv', index=False)
transaction.to_csv('transaction.csv', index=False)

### Data Loading

In [30]:
# Upload the data to Azure Blob Storage
# Load the environment variables from the .env file
load_dotenv()

# Get the connection string for the Azure Blob Storage
connection_string = os.getenv('AZURE_CONNECTION_STRING_VALUE')
container_name = os.getenv('AZURE_CONTAINER_NAME')

In [31]:
# Create a BlobServiceClient object
blob_service_client = BlobServiceClient.from_connection_string(connection_string)
container_client = blob_service_client.get_container_client(container_name)

# Upload the data files to the Azure Blob Storage
files = [
  (data, 'rawdata/cleaned_zipco_transaction_data.csv'),
  (products, 'cleaneddata/products.csv'),
  (customers, 'cleaneddata/customers.csv'),
  (staff, 'cleaneddata/staff.csv'),
  (transaction, 'cleaneddata/transaction.csv')

]

for file , blob_name in files:
  blob_client = container_client.get_blob_client(blob_name)
  output = file.to_csv(index=False)
  blob_client.upload_blob(output, overwrite=True)
  print(f'{blob_name} loaded successfully to Azure Blob Storage')git

rawdata/cleaned_zipco_transaction_data.csv loaded successfully to Azure Blob Storage
cleaneddata/products.csv loaded successfully to Azure Blob Storage
cleaneddata/customers.csv loaded successfully to Azure Blob Storage
cleaneddata/staff.csv loaded successfully to Azure Blob Storage
cleaneddata/transaction.csv loaded successfully to Azure Blob Storage